.card {
    margin: 5px;
    padding: 10px;
    font-size: small;
    background-color: #26A69A;
}

p {
    margin-top: 0;
    margin-left: unset;
}

input {
    margin-bottom: 10px;
}

#clues {
    width: 100%;
}

#clue {
    float: left;
    width: 32%;
}